.todo{
  display: flex;
  flex-direction: column;
  background-color: var(--clr-dk);
  color: var(--clr-lt);
  border-radius: 0.5rem;
}

.todo-header{
  align-self: flex-end;
  padding-right: 1rem;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo-main{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
  text-align: left;
}

.todo-isDone{
  /* width: clamp(var(--todo-btn-size)); */
  /* height: clamp(var(--todo-btn-size)); */
  /* width: 16px; */
  /* height: 16px; */
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-lt);
  border-radius: 50%;
}

.todo-main.done .todo-isDone{
  content: url('../assets/check.svg')
}

.todo-main.done .todo-text{
  text-decoration: line-through;
}
.todo-text{
  display: inline;
}

.todo-edit{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.todo-editInput{
  font-size: 1em; 
  width: 100%;
  padding: 0.2em 0.5em;
  background-color: var(--clr-lt);
  border: none;
  outline: none;
  color: var(--clr-dk);
  border-radius: 0.5rem;
}

.todo-editBtn{
  font-size: 1em;
  padding: 0.1em 0.3em;
  background: var(--clr-main-50);
  border: none;
  color: var(--clr-dk);
  cursor: pointer;
  border-radius: 0.5rem;
}

.todo-editBtn:hover{
  background-color: var(--clr-dk);
  color: var(--clr-lt);
}

.todo-editBtn:active{
  transform: translate(0px, 1px);
}

.todo-btn{
  background: transparent;
  /* border: 1px solid var(--clr-lt); */
  border: none;
  padding: 0.2em;
  color: var(--clr-main-50);
  display: flex;
  cursor: pointer;

}
.todo-btn>svg{
  /* width: clamp(var(--todo-btn-size)); */
  /* height: clamp(var(--todo-btn-size)); */
  width: 1.5rem; 
  height: 1.5rem; 
}

.todo-btn:hover{
  color: var(--clr-main-30);
  /* background-color: var(--clr-lt); */
  /* border-color: var(--clr-dk); */
  transform: scale(1.5);
}

.todo-btn:active{
  transform: none; 
}

